<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Categoria</title>
        <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="https://i.pinimg.com/236x/a6/17/7e/a6177eb9992ea3a348dbb5c022160ffa.jpg" type="">

    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f1f1f1;
        }

        .container {
            max-width: 400px;
            padding: 20px;
            background-color: white;
            border: 2px solid blue;
            border-radius: 5px;
            text-align: center;
        }

        img {
            max-width: 100%;
            margin: 10px 0;
        }

        button {
            padding: 10px 20px;
            background-color: blue;
            color: white;
            border: none;
            border-radius: 5px;
            outline: none;
            cursor: pointer;
        }
        h4,h3 {
            border-radius: 5px;
            padding: 10px;
            margin: 10px 0;
        }
        button:hover {
            background-color: darkblue;
        }

        .return-button {
			position: fixed;
			top: 20px;
			right: 20px;
			padding: 10px 20px;
			background-color: blue;
			color: white;
			border: none;
			border-radius: 4px;
			font-size: 16px;
			cursor: pointer;
		}

		.return-button:hover {
			background-color: darkblue;
		}
    </style>

</head>
<body>
    <div class="container">
        <div>
            <a class="nav-link return-button" href="/logout">Salir.</a>
        </div>
        <div class="header">
        <h2>¿Está seguro de eliminar esta categoria?</h2>
        </div>
        <hr>
        <form action="/deletectg/<%= categorias.id %>" method="get">
            <div style="margin-top: 10px; margin-bottom: 10px;"><h4><%= categorias.nombre %></h4></div>
            <div style="margin-top: 10px; margin-bottom: 10px;"><button type="submit" class="btn btn-primary">Eliminar Categoria</button></div>
        </form>
    </div>
</body>
</html>