<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-image: url("https://i.pinimg.com/564x/5d/e8/35/5de835399a6e79719a089a7e9fb39a20.jpg");
            background-repeat: repeat;
            background-size: 10%;
        }

        .container {
            max-width: 400px;
            padding: 20px;
            background-color: #1ca39e ;
            border: 2px solid #160d18;
            border-radius: 5px;
            text-align: center;
        }

        h1 {
            margin-top: 0;
            font-size: 36px;
            font-weight: bold;
            font-family: Arial, sans-serif;
            color: #23145b;
        }

        p {
            font-size: 18px;
            font-family: Arial, sans-serif;
        }
        img{

            height: 0%;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>Pagina Error</h1>
        <p>Esta ocurriendo un Error en las rutas</p>
        <a href="/"  type="button" class="btn btn-dark">Pagina Principal</a> 
    </div>


</body>
</html>