<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de inicio</title>
</head>
<body>
    <h1>Pagina de Inicio de redireccion</h1>
    <a href="/clientes">Pagina Clientes</a>
    <a href="/admin">Pagina Administrador</a>
</body>
</html>