<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mark's Quest</title>

    <link rel="stylesheet" href="/stylesheets/admin.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/hf.css">
    <!-- 
    - favicon
  -->
    <link rel="shortcut icon" href="https://i.pinimg.com/236x/a6/17/7e/a6177eb9992ea3a348dbb5c022160ffa.jpg" type="">

    <!-- 
    - google font link
  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@400;700&family=Saira+Stencil+One&display=swap"
        rel="stylesheet">
        <style>
            body {
                background-color: #161737;
            }
    
    
            .logo2 {
                display: flex;
                align-items: center;
            }
    
            .icon {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                overflow: hidden;
            }
    
            .icon img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
    
            .icon2 {
                display: flex;
                flex-direction: column;
                margin-left: 10px;
            }
    
            .icon2 a {
                font-size: 24px;
                color: white;
                text-decoration: none;
            }
    
            .index {
               background-color: #161737;
                padding-bottom: 50px; /* Espacio inferior igual al margen superior del contenido principal */
            }
    
            .bd {
                position: absolute; /* Cambiamos la posición a absoluta */
                top: 100px; /* Ajustamos la posición superior según el tamaño del encabezado */
                left: 0;
                right: 0;
                bottom: 100px; /* Ajustamos la posición inferior según el tamaño del pie de página */
                background-color: #161737;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
    }
    
            .sec {
                margin-top: 20px;
                background-color: #161737;
            }
    
            .sec h1 {
                font-family: 'Saira Stencil One', cursive;
                font-size: 36px;
                color: white;
                font-size: 6vw; /* El tamaño de la fuente será el 6% del ancho de la pantalla */
            }
    
            .btns {
                display: flex;
                justify-content: center;
                margin-top: 40px;
                margin-bottom: 40px;
            }
    
            .btn1,
            .btn2 {
                margin: 0 10px;
            }
    
            .button-container1 {
                display: inline-block;
                padding: 12px 24px;
                background-color: #007bff;
                color: white;
                border-radius: 4px;
                text-decoration: none;
                font-size: 18px;
            }
    
            .fijo {
                position: fixed;
                bottom: 0;
                width: 100%;
                background-color: #161737;
                color: white;
                padding: 10px 0;
                text-align: center;
                font-size: 15px;
                padding-top: 50px; /* Espacio superior igual al margen inferior del contenido principal */
            }

            h1,h4{
                text-align: center;
            }
        </style>
</head>

<body>
    <div class="color">
        <header class="index">
            <div class="container1">

                <h1 class="h1 logo logo2">
                    <div class="icon">
                        <img src="https://i.pinimg.com/236x/a6/17/7e/a6177eb9992ea3a348dbb5c022160ffa.jpg"
                            alt="nav icon" />
                    </div>
                    <div class="icon2">
                        <a>Mark's Quest<span>.</span></a>
                    </div>
                </h1>
            </div>
    </div>
    </nav>

    </div>
    </header>

    </div>
        <main class="bd">
            <section class="sec">
                <h1 class="h1">Error a la hora de hacer la transaccion </h1>
                <h4>Revisa las Credenciales de tu tarjeta</h4>
            </section>
            <div class="btns">
                <div class="btn1">
            <a type="button" class="button-container1"  href="/clientes">Volver al inicio</a>
        </div>
            </div>
    </div>

    </main>


    <!-- 
- #FOOTER
-->

    <footer class="footer fijo">
        <div class="container1">

            <p class="h1 logo">
                <a href="#">
                    Mark's Quest<span>.</span>
                </a>
            </p>

            <p class="copyright">
                &copy; 2024 <a href="#">M&C</a>. All rights reserved
            </p>

        </div>
    </footer>



    <!-- 
- ionicon link
-->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>



    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>
</body>

</html>